html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #088c48;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}
section {
  background-color: #047139
}
main {
  background-color: #06b782
}